.my__input{
    height:48px;
    border-radius: 8px;
    padding-right: 41px;
}

.search__svg{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    z-index: 1;
    
}

.img-fluid {
    max-width: 70px;
    height: auto;
}
  