.mobile__display{
    height: 736px;
    width: 414px;
    background-color: #E5E5E5;
    font-size: 28px;
    font-weight: 600;
    padding: 14px;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    position: relative;
}

.fab__button{
    position: fixed;
    right: 635px;
    bottom: 165px;
    z-index: 1;
    font-size: large;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

